body {
	background-image: url("images/newbackground.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.tables{
	border: 1px solid black;
	background-color: #E0FFFF;
}

#table1{
	width: 300px;
}

#table2{
	width: 200px;
}

th, td{
	border: 1px solid black;
}